<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>상점</title>

<link rel="stylesheet" th:href="@{/dist/css/all.css}" type="text/css">
<link rel="stylesheet" th:href="@{/dist/css/purchase.css}" type="text/css">
</head>
<body>

<div class="main-container">


	<div class="page-container">
		<button th:onclick="|location.href='@{/orders/purchaseList}'|">구매</button>
		<button th:onclick="|location.href='@{/orders/saleList}'|">판매</button>
	</div>

</div>

</body>
</html>