<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>관리자 페이지</title>

<link rel="stylesheet" th:href="@{/dist/css/cssAdmin/main.css}" type="text/css">
<link rel="stylesheet" th:href="@{/dist/css/cssAdmin/potionWrite.css}" type="text/css">

</head>
<body>

<div class="main-container">
	<div th:replace="~{/admin/menubar :: menubarFragment}"></div>

	<div class="body-container">
		<div class="title-container">
			<span>포션 등록</span>
		</div>
		
		<div class="table-container">
			<form th:action="@{/admin/potion/{mode}(mode=${mode})}" name="potionForm" method="post" enctype="multipart/form-data">
				<table>
					<tr>
						<td>포션 이름</td>
						<td>
							<input type="text" name="potionName" th:value="${dto!=null ? dto.potionName : ''}">
						</td>
					</tr>
					<tr>
						<td>포션 설명</td>
						<td>
							<input type="text" name="potionDescription" th:value="${dto?.potionDescription}">
						</td>
					</tr>
					<tr>
						<td>포션 레벨</td>
						<td>
							<input type="text" name="potionLevel" th:value="${dto?.potionLevel}"placeholder="0~5 사이의 숫자를 입력하세요.">
						</td>
					</tr>
					<tr>
						<td>맛 설명</td>
						<td>
							<input type="text" name="tasteDescription" th:value="${dto?.tasteDescription}">
						</td>
					</tr>
					<tr>
						<td>조합법 설명</td>
						<td>
						    <textarea cols="200" rows="3" name="potionComposition" th:text="${dto?.potionComposition}"></textarea>
						</td>
					</tr>
					<tr>
						<td>메모</td>
						<td>
						<textarea cols="200" rows="3" name="potionMemo" th:text="${dto?.potionMemo}"></textarea>
						</td>
					</tr>

					<tr>
						<td>제작시 획득 수</td>
						<td>
							<input type="text" name="quantity" th:value="${dto?.quantity}" placeholder="숫자를 입력하세요.">
						</td>
					</tr>
					<tr>
						<td>제작 시 경험치</td>
						<td>
							<input type="text" name="exp" th:value="${dto?.exp}" placeholder="숫자를 입력하세요.">
						</td>
					</tr>
					<tr>
					    <td>획득 방법</td>
					    <td>
					        <select name="firstMaterial.materialId" style="display:inline-block; width:auto;">
					            <option value="">-- 재료 선택 --</option>
					            <option th:each="mat : ${materialList}"
					                    th:value="${mat.materialId}"
					                    th:text="${mat.materialName}"
					                    th:selected="${dto?.firstMaterial?.materialId == mat.materialId}">
					            </option>
					        </select>
					        <span> + </span>
					        <select name="secondMaterial.materialId" style="display:inline-block; width:auto;">
					            <option value="">-- 재료 선택 --</option>
					            <option th:each="mat : ${materialList}"
					                    th:value="${mat.materialId}"
					                    th:text="${mat.materialName}"
					                    th:selected="${dto?.secondMaterial?.materialId == mat.materialId}">
					            </option>
					        </select>
					    </td>
					</tr>
					<tr>
						<td>포션 사진 파일</td>
						<td>
							<input type="file" name="selectFile" id="selectFile">
						</td>
					</tr>
					<tr>
						<td>이미지 미리보기</td>
						<td id="preview-image-container">
							<th:block th:if="${mode=='update' and dto.potionPhoto != null}">
								<img id="preview-image" th:src="@{/uploads/potion/{imageName}(imageName=${dto.potionPhoto})}">
							</th:block>
							<th:block th:if="${mode=='write' or dto.potionPhoto == null}">
								<img id="preview-image" src="">
							</th:block>
						</td>
					</tr>
				</table>
				
				<table>
					<tr>
						<td>
							<div class="form-buttons">
							    <button type="button" class="btn btn-primary" onclick="sendOk();" th:text="${mode=='write'?'등록 완료':'수정 완료'}"></button>
							    <button type="reset" class="btn btn-outline">다시 입력</button>
							    <button type="button" class="btn btn-secondary" th:onclick="|location.href='@{/admin/potion/potionList}'|" th:text="${mode=='write'?'등록 취소':'수정 취소'}"></button>
							
							    <th:block th:if="${mode=='update'}">
							        <input type="hidden" name="potionId" th:value="${dto.potionId}">
							        <input type="hidden" name="page" th:value="${page}">
							        <input type="hidden" name="potionPhoto" th:value="${dto.potionPhoto}">
							    </th:block>
							</div>
						</td>
					</tr>
				</table>
			</form>
		</div>		
	</div>
</div>

<script type="text/javascript">
window.addEventListener('DOMContentLoaded', function() {
	const selectFile = document.getElementById('selectFile');
	const previewImage = document.getElementById('preview-image');
	
	selectFile.addEventListener('change', function(e) {
		const files = e.target.files;
		if(files && files.length > 0) {
			const file = files[0];
			const reader = new FileReader();
			
			reader.onload = function(e) {
				previewImage.src = e.target.result;
			};
			
			reader.readAsDataURL(file);
		}
	});
});

function sendOk() {
	const f = document.potionForm;
	
	let str = f.potionName.value;
	if(!str) {
		alert('포션 이름을 입력해주세요.');
		f.potionName.focus();
		return;
	}
	
	str = f.potionDescription.value;
	if(!str) {
		alert('포션 설명을 입력해주세요.');
		f.potionDescription.focus();
		return;
	}
	
	str = f.potionComposition.value;
	if(!str) {
		alert('레시피 설명을 입력해주세요.');
		f.potionComposition.focus();
		return;
	}
	
	str = f.potionMemo .value;
	if(!str) {
		alert('메모을 입력해주세요.');
		f.potionMemo.focus();
		return;
	}
	
	p = /^[0-5]$/;
	str = f.potionLevel.value;
	if(!p.test(str)) {
		alert('포션 레벨을 입력해주세요.');
		f.potionLevel.focus();
		return;
	}
	
	str = f.selectFile.value;
	const mode = '[[${mode}]]';
	if(mode === 'write' && !str) {
		alert('포션 사진을 업로드해주세요.');
		f.selectFile.focus();
		return;
	}
	
	f.submit();
}
</script>

</body>
</html>
