<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>관리자 페이지</title>

<link rel="stylesheet" th:href="@{/dist/css/cssAdmin/main.css}" type="text/css">
<link rel="stylesheet" th:href="@{/dist/css/cssAdmin/materialList.css}" type="text/css">
</head>
<body>

<div class="main-container">
	<div th:replace="~{/admin/menubar :: menubarFragment}"></div>

	<div class="body-container">

		<header class="content-header">
			<div class="header-top">
				<div class="title-container">
					<span>재료 관리</span>
				</div>
			</div>

			<div class="header-bottom">
				
				<div>
					<form name="searchForm" class="form-search">
						<select name="schType">
							<option value="name" th:selected="${schType} == 'name'">재료 이름</option>
							<option value="reg_date" th:selected="${schType} == 'materialLevel'">재료 레벨</option>
						</select>
						<input type="text" name="kwd" th:value="${kwd}">
						<button type="button" class="btn-default" onclick="searchList()">검색</button>
					</form>
				</div>
				<div>
					<button type="button" th:onclick="|location.href='@{/admin/material/write}'|">재료 추가</button>
				</div>
			</div>
		</header>


		<div>
			<span class="dataCount"></span>
		</div>
		<div class="table-container">
			<table>
				<thead>
					<tr>
						<th>번호</th>
						<th>재료 이미지</th>
						<th>재료 이름</th>
						<th>재료 가격</th>
						<th>재료 레벨</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="dto, status: ${list}">
						<td th:text="${dataCount-(page-1)*size-status.index}"></td>
						<td>
							<img th:src="@{/uploads/material/{imageName}(imageName=${dto.materialPhoto})}" width="80" height="80" style="object-fit: cover;">
						</td>
						<td>
						    <a th:href="@{/admin/material/materialDetail/{materialId}(materialId=${dto.materialId}, page=${page}, schType=${schType}, kwd=${kwd})}" th:text="${dto.materialName}"></a>
						</td>
						<td th:text="${dto.materialPrice}"></td>
						<td th:text="${dto.materialLevel}"></td>
					</tr>
					<tr th:if="${#lists.isEmpty(list)}" class="empty-row">
						<td colspan="5">등록된 재료가 없습니다.</td>
					</tr>
				</tbody>
			</table>
			
			<div class="table-footer">
				<div class="page-navigation"></div>
						
				<div>
					<button type="button" class="btn btn-outline" th:onclick="|location.href='@{/admin/material/materialList}'|">새로고침</button>
				</div>
			</div>
		</div>
	</div>

</div>

<script type="text/javascript" th:src="@{/dist/js/paging.js}"></script>
<script type="text/javascript">
window.addEventListener('DOMContentLoaded', function() {
	let page = '[[${page}]]';
	let pageSize = '[[${size}]]';
	let dataCount = parseInt('[[${dataCount}]]') || 0;
	let url = '[[@{/admin/material/materialList}]]';
	let search = '[[${not #strings.isEmpty(kwd)}]]';
	
	if(search === 'true') {
		url = '[[@{/admin/material/materialList(schType=${schType}, kwd=${kwd})}]]';
	}
	
	let total_page = pageCount(dataCount, pageSize);
	let paging = pagingUrl(page, total_page, url);
	
	document.querySelector('.dataCount').innerHTML = `${dataCount}개 (${page}/${total_page} 페이지)`;
	document.querySelector('.page-navigation').innerHTML = dataCount === 0 ? '' : paging
});

window.addEventListener('DOMContentLoaded', () => {
	const inputEL = document.querySelector('form input[name=kwd]'); 
	inputEL.addEventListener('keydown', function (evt) {
	    if(evt.key === 'Enter') {
	    	evt.preventDefault();
	    	
	    	searchList();
	    }
	});
});

function searchList() {
	const f = document.searchForm;
	if(! f.kwd.value.trim()) {
		return;
	}
	
	const formData = new FormData(f);
	let params = new URLSearchParams(formData).toString();
	
	let url = '[[@{/admin/material/materialList}]]';
	location.href = url + '?' + params;
}

</script>
</body>
</html>