<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>인벤토리</title>
<link rel="stylesheet" th:href="@{/dist/css/all.css}" type="text/css">
</head>
<body>
<div th:fragment="inventoryList">
   <div th:each="dto : ${list}" class="inventory-item" th:attr="data-id=${dto.inventoryId}">
	    <div class="item-box">
	        <img th:if="${dto.potion != null}" 
	             th:src="@{/uploads/potion/{imageName}(imageName=${dto.potion.potionPhoto})}" 
	             alt="포션 이미지">
	        <img th:if="${dto.material != null}" 
	             th:src="@{/uploads/material/{imageName}(imageName=${dto.material.materialPhoto})}" 
	             alt="재료 이미지">
	        <span class="item-quantity" th:text="${dto.quantity}"></span>
	    </div>
	</div>
	
	<div th:if="${#lists.isEmpty(list)}" class="empty-inventory">

	</div>
<input type="hidden" id="totalPageVal" th:value="${total_page}">
</div>
</body>
</html>